[submodule "EmberGUI/imguizmo"]
	path = EmberGUI/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "EmberGUI/imnodes"]
	path = EmberGUI/imnodes
	url = https://github.com/Nelarius/imnodes